:root {
    --white: #FFFFFF;
    --black: #000000;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --button-color: linear-gradient(125.2deg, #8B8AF3 -19.58%, #4643EE 104.45%);
    --button-zise:10px 55px;
    --view-color: gray;
    --font-titulos: 700;
    --hover-view: #6A52F8;
    --subtitulos: #292929;
    --fechas: #848484;

    --color-fuente: #ffffff;
    --color-fondo: #1b1d23;

}


/*------------------BOTON DARK-THEME---------------------*/

[tema="light"]{
    --color-fuente: #000;
    --color-fondo: #fff;
}

#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--color-fuente);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:var(--color-fondo);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color-fuente);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-fuente);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    
}

.slider.round:before {
    border-radius: 50%;
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow: none;
}

body {
    font-size: 1.6rem;
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
    background-color:var(--color-fondo);
    color:var(--color-fuente) 
}

h1, h2 {
    font-weight: var(--font-titulos);
    color:var(--color-fuente) 
}

h3{
    font-weight: var(--font-titulos);
    color:var(--color-fuente) 
}

.span-titulos, .h2-subtitulo{
    font-weight: 400;
    color: --subtitulos;
    font-size: medium;
}

.h3-fecha{
    color: var(--fechas);
    font-size: small;
}

/*
figure{
    display: inline-block;
    box-shadow:inset 10px 0px 50px  rgba(0, 0, 0, 0.65);
}

figure img{
    position: relative;
    z-index:-1;
    vertical-align: top;
}
*/

.contenedor-button-contact{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.button-contact {
    background: var(--button-color);
    padding: var(--button-zise);
    color: var(--white);
    border: var(--hover-view) solid 1px;
    text-decoration: none;
    transition: 700ms ease;
}

/*-------------------------------------------ANIMACIONES Y TRANSICIONES---------------------------------------*/

@media screen and (min-width:992px){
    .button-contact:hover {
        color: var(--hover-view);
        border: var(--hover-view) solid 1px;
        background: var(--white);
    }

    .button-view:hover {
        color: var(--hover-view);
    }

    .job img:hover{
        transform: scale(1.05);
    }

    .studies img:hover{
        transform: scale(1.05);
    }

    /*-----------------------------------ANIMACION SOCIAL MEDIA---------------------------------------*/

    .icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        outline: 2px solid var(--color-fuente);
        transition-property: outline-offset, outline-color, backgroud-color;
        transition-duration: .25s;
    }

    .icon:hover {
        outline-offset: 4px;
    }
    
    .icon:hover i {
        animation: shake .25s;
    }
    
    @keyframes shake {
        10% {
            transform: rotate(15deg);
        }
    
        20% {
            transform: rotate(-15deg);
        }
    
        30% {
            transform: rotate(15deg);
        }
    
        40% {
            transform: rotate(-15deg);
        }
    }

    .background-all{
        background-image: url(../assets/img/bg1.png);
        background-repeat:no-repeat;
        background-position: right;
        background-size: cover;
        min-height: 500px;
    }
}
.contenedor-view{
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.button-view {
    text-decoration: none;
    color: var(--view-color);
    transition: 300ms ease;
}



/* ----------------------------------HEADER---------------------------------*/ 

header{
    background-color: var(--black);
    height: 44px;
}

.container{
    width: 95%;
    overflow: hidden;
}

.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(100%);

    padding: 10px 5px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer:scale(0);
}

.nav__hamburguer, 
.nav__close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
}

.nav__hamburguer{
    transform: var(--state-hamburguer);
}

.nav__close{
    transform: var(--state-close);
}

.nav__icon{
    transition: transform 300ms ease-in-out;
    width: 25px;
}

.nav__icon:hover {
    transform: rotate(45deg);
}

.bi-x-lg{
    color: var(--white);
}

.nav__links{
    background-color: var(--black);
    position: absolute;
    top: 0;
    bottom: 150px;
    left: auto;
    right: 0;
    padding: 30px;

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;

    transform: var(--state-menu);

}

.nav__item{
    list-style: none;
}

.nav__link{
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;

}

.bi-arrow-left{
    color: var(--white);
    font-size: x-large;
    align-items: center;
}

.contenedor-button-contact__nav{
    display: flex;
    justify-content: center;
}

.button-contact__nav{
    padding: var(--button-zise);
    color: var(--white);
    border: var(--white) solid 1px;
    text-decoration: none;
    transition: 700ms ease;
}

.button-contact__nav:hover{
    color: var(--view-color);
    border: var(--view-color) solid 1px;
}


input.src{
    padding: 5px 5px 5px 20px;
    width: 90px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    border: 3px solid var(--black);
    background: #FFFFFF url(../assets/img/search.svg) 
    no-repeat 1px center ;
    transition: all .5s;
}

input.src:hover{
    width: 150px;
    background-color: #FFFFFF;
    border-color: var(--view-color);

}



@media screen and (min-width:992px){

    header{
        height: 10rem;
        background-color: rgb(255, 255, 255);
    }

    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);

        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .nav__links{
        padding: 0;
        background-color: unset;
        position: unset;
        grid-auto-flow: column;
        align-items: center;
        margin-top: 2rem;
    
        transform: unset;

        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link{
        color: var(--black);
    }

    .button-contact__nav{
        color: var(--black);
        border: var(--black) solid 1px;
    }

    .bi-arrow-left{
        display: none;
    }
}
/* ----------------------------------PORTADA--------------------------------- */


.banner {
    height: 20vh;
    background-image: url(../assets/img/banner-998px.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.profile {
    display: grid;
    place-items: center;
    margin-top: -8rem;
}

.profile__title{
    text-align: center;
}

.profile__title h1{
    font-size: 3rem;
}

.p-profile{
    font-size: small;
    margin-bottom: 10px;
}

.profile p {
    text-align: center;
}

.profile p i {
    color: #9888F8;
}

@media screen and (min-width: 576px) {
    .banner {
        height: 25vh;
    }

    .profile__description{
        padding: 1.5rem;
    }
}

@media screen and (min-width: 768px){
    .banner {
        height: 30vh;
    }

    .profile__description{
        padding: 4rem;
    }
}

@media screen and (min-width:992px){

    .banner{
        display: none;
    }
    .profile{
        margin: 20rem;
        display: grid;
        justify-content: center;
        place-items:start;
        grid-template-columns: 40% 40%;
        grid-template-rows: repeat(2,13rem);
        grid-template-areas: 
        "profile__title profile__img"
        "profile__description profile__img"
        ;
    }

    .profile p {
        text-align: start;
    }

    .profile__title{
        text-align: start;
        grid-area: profile__title;
        margin-top: 4rem;
        margin-left: 20px;

    }

    .profile__title h1{
        font-size: 3rem;
        margin-bottom: 5px;
    }

    .profile__description{
        grid-area: profile__description;
        padding: 0px;
        margin-right: 80px;
        margin-left: 20px;
    }

    .profile__img{
        grid-area: profile__img;
        width: 200px;
        
    }

    .button-contact-profile{
        display: none;
    }

}

@media screen and (min-width:1200px){
    .profile__img{
        width: 240px;
    }

    .profile__title h1, .profile__title h3{
        text-align: left;
        margin-left: 50px;
    }

    .profile__description{
        padding: 0px;
    }

    .profile p {
        margin-left: 50px;
        
    }
}

/* ----------------------------------JOBS--------------------------------- */

.job {
    padding: 2rem;
    place-items: center;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem repeat(3, 15rem);
    grid-template-areas:
        "job-title"
        "job__item--1"
        "job__item--2"
        "job__item--3"
    ;
}

.job__title {
    grid-area: job-title;
}

.job__item--1 {
    grid-area: job__item--1;
    display:inline-flex;
    
}

.job__item--2 {
    grid-area: job__item--2;
    display:inline-flex;
    
}

.job__item--3 {
    grid-area: job__item--3;
    display:inline-flex;
    
}

.job__item--4 {
    display: none;
}

.job p {
    font-size: small;
}

.job img{
    transition: 300ms ease;
    margin-right: 5px;
}



@media screen and (min-width: 576px){
    .job__content--1, .job__content--2, .job__content--3, .job__content--4{
        padding: 1.5rem;
    }
}

@media screen and (min-width: 992px){
    .job{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,40%);
        grid-template-rows: 10rem repeat(2,15rem);
        grid-template-areas: 
        "job-title job-title"
        "job__item--1 job__item--2"
        "job__item--3 job__item--4";
    }

    .job-title{
        grid-area: job-title;
    }   
    .job__item--1{
        grid-area: job__item--1;
    }
    .job__item--2{
        grid-area: job__item--2;
    }
    .job__item--3{
        grid-area: job__item--3;
    }
    .job__item--4{
        grid-area: job__item--4;
        display:inline-flex;
    }
}

@media screen and (min-width: 1200px){
    .job{
        grid-template-columns: repeat(2,30%);
    }
}

/* ----------------------------------JOB-2 Y STUDIES-1--------------------------------- */

.banner-jobs2 {
    background-image: url(../assets/img/portada-jobs2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 20vh;
}

.profile-jobs2_may768px_, .profile-studies1_may768px_{
    display: none;
}

.profile-jobs2_men768px_,  .profile-studies1_men768px_{
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 60%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
    "profile-jobs2__img profile-jobs2__titulos"
    "profile-jobs2__description profile-jobs2__description";
}

.profile-jobs2__img,  .profile-studies1__img{
    grid-area: profile-jobs2__img;
    margin-top: -3rem;
    display: flex;
    justify-content: center;
    
}

.profile-jobs2__titulos,  .profile-studies1__titulos{
    grid-area: profile-jobs2__titulos;
    justify-content: start;

}

.profile-jobs2__description,  .profile-studies1__description{
    grid-area: profile-jobs2__description;
    margin: 1.5rem;
}


.tecnologies-jobs2{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
}

.icons-jobs2 img{
    margin: 2rem;
}

.icons-jobs2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.proyects-jobs2,  .proyects-studies1{
    margin-top: 8rem;
    place-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem repeat(2, 20rem);
    grid-template-areas:
        "proyects__title"
        "proyects__item-1"
        "proyects__item-2"
    ;
}

.proyects-jobs2__title,  .proyects-studies1__title{
    grid-area: proyects__title;
}

.proyects-jobs2__item-1,  .proyects-studies1__item-1{
    grid-area: proyects__item-1;
}

.proyects-jobs2__item-2,  .proyects-studies1__item-2{
    grid-area: proyects__item-2;
}

@media screen and (min-width:576px) {

    .banner-jobs2 {
        height: 25vh;
    }

    .profile-jobs2__img img,  .profile-studies1__img img{
        width: 13rem;
    }

    .profile-jobs2__img,  .profile-studies1__img {
        margin-top: -5rem;
    }

    .profile-jobs2__description,  .profile-studies1__description{
        padding: 2rem;
    }
}

@media screen and (min-width:768px){

    .banner-jobs2{
        height: 30vh;
    }

    .profile-jobs2_men768px_, .profile-studies1_men768px_{
        display: none;
    }


    .profile-jobs2_may768px_, .profile-studies1_may768px_{
        display: grid;
        justify-content: start;
        grid-template-columns: 20% 60%;
        grid-template-rows: 40% 60%;
        grid-template-areas: 
        "profile-jobs2__img profile-jobs2__description "
        ". profile-jobs2__description";
    }

    .profile-jobs2__img,  .profile-studies1__img{
        grid-area: profile-jobs2__img;
        margin-top: -5rem;
        display: flex;
        justify-content: end;
    }

    .profile-jobs2__img img,  .profile-studies1__img img{
        width: 160px;
    }
    
    .profile-jobs2__description,  .profile-studies1__description{
        grid-area: profile-jobs2__description;
        margin-top: -1rem;
        text-align: justify;
        
    }
}

@media screen and (min-width:768px){
    .banner-jobs2{
        height: 40vh;
    }
}

@media screen and (min-width: 1200px){
    .banner-jobs2{
        height: 50vh;
    }
}


/* ----------------------------------STUDIES--------------------------------- */


.studies {
    margin-top: 8rem;
    padding: 15px;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(3,33.33%);
    grid-template-rows: 10rem 22rem;
    grid-template-areas:
        "studies__title studies__title studies__title"
        "studies-1 studies-2 studies-3"
    ;
}

.studies__title {
    grid-area: studies__title;
    text-align: center;
}

.studies__1 {
    grid-area: studies-1;
    text-align: center;
}

.studies__2 {
    grid-area: studies-2;
    text-align: center;
}

.studies__3 {
    grid-area: studies-3;
    text-align: center;
}

.studies__4{
    display: none;
}

.studies img{
    transition: 300ms ease;
    margin-right: 5px;
    max-width: 70px;
    margin-bottom: 5px;
}


@media screen and (min-width:992px){
    .studies {
        place-items: center;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4,15%);
        grid-template-rows: 10rem 22rem;
        grid-template-areas:
            "studies__title studies__title studies__title studies__title"
            "studies-1 studies-2 studies-3 studies-4"
        ;
    }

    .studies__title {
        grid-area: studies__title;
        text-align: center;
    }
    
    .studies__1 {
        grid-area: studies-1;
        text-align: center;
    }
    
    .studies__2 {
        grid-area: studies-2;
        text-align: center;
    }
    
    .studies__3 {
        grid-area: studies-3;
        text-align: center;
    }
    
    .studies__4{
        display: block;
        grid-area: studies-4;
        text-align: center;
    }
}

/* ----------------------------------STUDIES-1--------------------------------- */


.banner-studies1{
    background-image: url(../assets/img/banner-studies1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 20vh;
}

.tecnologies{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    row-gap: 3rem;
}

.tecnologies__icons-studies1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.tecnologies__icons1{
    display: flex;
    flex-direction: row;
}

.tecnologies__icons2{
    display: flex;
    flex-direction: row;
}

.tecnologies__icon img{
    margin: 3rem;
}

.tecnologies__icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (min-width:576px){
    .banner-studies1{
        height: 25vh;
    }
}

@media screen and (min-width:768px){
    .banner-studies1{
        height: 30vh;
    }
}

@media screen and (min-width:992px){
    .banner-studies1{
        height: 40vh;
        background-image: url(../assets/img/banner-studies998px.png);
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width: 1200px){
    .banner-studies1{
        height: 50vh;
    }
}



/* ----------------------------------PROYECTS--------------------------------- */

.proyects {
    margin-top: 8rem;
    place-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6rem repeat(3,15rem);
    gap: 15px;
    grid-template-areas:
        "proyects__title"
        "proyects__item-1"
        "proyects__item-2"
        "proyects__item-3"
    ;
}

.proyects img{
    width: 100%;
}

.proyects__title {
    grid-area: proyects__title;
}

.proyects__item-1 {
    grid-area: proyects__item-1;
}

.proyects__item-2 {
    grid-area: proyects__item-2;
}

.proyects__item-3 {
    grid-area: proyects__item-3;
}

.proyects__item-4{
    display: none;
}
.proyects__item-5{
    display: none;
}
.proyects__item-6{
    display: none;
}

.figure::after{
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:97.5%;
    display:inline-block;
    background: -moz-linear-gradient(to top, rgba(20, 20, 20, 0.692) 0%, rgba(10, 10, 10, 0) 100%);
}

.figure-caption, .figure-caption-blog, .figure-caption-blog-small{
    z-index: 2;
}

.figure-container {
    position: relative;
}

.figure-container .figure-caption {
    position: absolute;
    top: 60%;
    left: 5%;
    color: var(--white);
}

.figure-container .rounded{
    border-radius: 0px !important;
}

.figure-caption h3{
    color: var(--white);
}

@media screen and (min-width:992px){
    .proyects {
        display: grid;
        justify-content: center;

        grid-template-columns: repeat(3,25%);
        grid-template-rows: 6rem repeat(2,15rem);
        grid-template-areas:
            "proyects__title proyects__title proyects__title"
            "proyects__item-1 proyects__item-2 proyects__item-3"
            "proyects__item-4 proyects__item-5 proyects__item-6"
        ;
    }
    
    .proyects__title {
        grid-area: proyects__title;
    }
    
    .proyects__item-1 {
        grid-area: proyects__item-1;
    }
    
    .proyects__item-2 {
        grid-area: proyects__item-2;
    }
    
    .proyects__item-3 {
        grid-area: proyects__item-3;
    }
    
    .proyects__item-4{
        grid-area: proyects__item-4;
        display: inline;
    }
    .proyects__item-5{
        grid-area: proyects__item-5;
        display: inline;
    }
    .proyects__item-6{
        grid-area: proyects__item-6;
        display: inline;
    }
}

@media screen and (min-width:1200px){
    .proyects {
        grid-template-columns: repeat(3,22%);
    }
}

/* ----------------------------------PROYECTS-3--------------------------------- */

.banner-proyecto3{
    background-image: url(../assets/img/banner-proyect3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 20vh;
}

.inicio-proyecto3{
    padding: 3rem;
}

.inicio-proyecto3__description{
    margin-top: 2rem;
}

.galery-proyect3{
    margin: 2rem;
}

.galery-proyect3 img{
    width: 100%;
    margin-top: 0%;
}

.tecnologies__icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width:576px){
    .banner-proyecto3{
        height: 25vh;
    }

    .galery-proyect3{
        padding:  0rem 3rem;
    }
}

@media screen and (min-width:768px){
    .banner-proyecto3{
        height: 30vh;
    }

    .inicio-proyecto3{
        padding: 5rem;
    }

    .galery-proyect3{
        padding:  0rem 10rem;
    }
}

@media screen and (min-width:992px){
    .banner-proyecto3{
        height: 40vh;
    }

    .galery-proyect3{
        padding:  0rem 20rem;
    }
}

@media screen and (min-width:1200px){
    .banner-proyecto3{
        height: 50vh;
    }

    .galery-proyect3{
        padding:  0rem 30rem;
    }
}

@media screen and (min-width:1400px){
    .banner-proyecto3{
        height: 60vh;
    }

    .galery-proyect3{
        padding:  0rem 40rem;
    }
}

/* ----------------------------------BLOG--------------------------------- */

.blog {
    margin-top: 8rem;
    place-items: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 90%;
    grid-template-rows: 10rem 35rem 15rem 15rem;

    grid-template-areas:
        "blog__title"
        "blog__item-1"
        "blog__item-2"
        "blog__item-3"
    ;
}

.blog__title {
    grid-area: blog__title;
}

.blog__item-1 {
    grid-area: blog__item-1;
}

.blog__item-1 p{
    font-size: small;
    margin-top: 5px;
}

.blog__item-1 img{
    width: 100%;
    max-width: 500px;
}

.blog__item-2 {
    display: flex;
    flex-direction: row;
    grid-area: blog__item-2;
    text-align: start;
    padding: 10px;
    border-top: var(--color-fuente)solid 1px;
}

.blog__item-3 {
    display: flex;
    flex-direction: row;
    grid-area: blog__item-3;
    padding: 10px;
    border-top: var(--color-fuente)solid 1px;

}

.blog_992px_{
    display: none;
}

.blog__item-2 h3, .blog__item-3 h3{
    margin-left: 10px;
}

.figure-container-blog {
    position: relative;
    
}

.figure-container-blog .figure-caption-blog {
    position: absolute;
    top: 80%;
    left: 78%;
    color: var(--white);
    font-size: small;
}

.figure-container-blog-small {
    position: relative;
    
}

.figure-container-blog-small .figure-caption-blog-small {
    position: absolute;
    top: 80%;
    left: 68%;
    color: var(--white);
    font-size:x-small
}
@media screen and (min-width:576px){
    .blog{
        grid-template-columns: 70%;
}

}

@media screen and (min-width:768px){
    .blog{
        padding: 12rem;
    }
}

@media screen and (min-width:992px){
    .blog{
        display: none;
    }

    .blog_992px_{
        display: grid;
        place-items: center;
        justify-content: center;
        grid-template-columns: 50% 30%;
        grid-template-rows: 10rem repeat(3,33.33%);
        grid-template-areas:
        "blog__title blog__title"
        "blog__item-1 blog__item-2"
        "blog__item-1 blog__item-3"
        "blog__item-1 blog__item-4"
    ;
    }

    .blog__title_992px_ {
        grid-area: blog__title;
        text-align: center;
    }
    
    .blog__item-1_992px_ {
        grid-area: blog__item-1;
    }

    .blog__item-1_992px_ img {
        width: 100%;
    }
    
    .blog__item-2_992px_ {
        grid-area: blog__item-2;
        padding: 15px;
    }

    .blog__item-2_992px_ img {
        width:130px;
    }
    
    .blog__item-3_992px_ {
        grid-area: blog__item-3;
        border-top: 2px solid #DBDBDB;
        padding: 15px;
    }

    .blog__item-3_992px_ img {
        width: 130px;
    }

    .blog__item-4_992px_ {
        grid-area: blog__item-4;
        border-top: 2px solid #DBDBDB;
        padding: 15px;
    }

    .blog__item-4_992px_ img{
        width: 130px;
    }
}

@media screen and (min-width:1200px){
    .blog_992px_{
        grid-template-columns: 50% 25%;
    }

}
/* ----------------------------------BLOG1--------------------------------- */


.banner-blog1{
    height: 20vh;
    background-image: url(../assets/img/banner-blog.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blog1-titles_men992px_{
    padding: 1.2rem;
}

.blog1-section1{
    padding: 2rem;
}

.blog1-section1 img{
    width: 100%;
}

.keep-reading_men768px_{
    margin-top: 5rem;
}

.contenedor-keep-reading{
    display: flex;
    flex-direction: row;
    border-top: var(--view-color) solid 1px;
    justify-content: center;
}

.container-blog1-small{
    margin: 1.05rem;
}

.keep-reading_may768px_{
    display: none;
}


@media screen and (min-width:576px){
    .banner-blog1{
        height: 25vh;
    }

    .blog1-titles_men992px_{
        padding: 2rem 5rem;
    }

    .blog1-section1{
        padding: 5rem;
    }
}

@media screen and (min-width:768px){
    .banner-blog1{
        height: 30vh;
    }

    .blog1-section1{
        padding: 10rem;
    }

    .keep-reading_men768px_{
        display: none;
    }

    .keep-reading_may768px_{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
    }

    .keep-reading_may768px_ figure{
        margin: 2rem;
    }
}

@media screen and (min-width:992px){
    .banner-blog1{
        height: 40vh;
    }

    .blog1-titles_men992px_{
        display: none;
    }

    .blog1-titles_may992px_{
        display: block;
    }

    .blog1-section1{
        padding: 5rem 20rem;
    }

    .blog1-titles_may992px_{
        padding: 5rem 8rem;
    }
}

@media screen and (min-width:1200px){
    .banner-blog1{
        height: 50vh;
    }

    .blog1-section1, .blog1-titles_may992px_{
        padding: 5rem 30rem;
    }
}

@media screen and (min-width:1400px){
    .banner-blog1{
        height: 60vh;
    }

    .blog1-section1, .blog1-titles_may992px_{
        padding: 5rem 40rem;
    }
}


/* ----------------------------------SOCIAL--------------------------------- */

.social {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.social__icons {
    display: flex;
    padding: 15px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.social__icons a:hover {
    text-decoration: none;
    color: var(--color-fuente);
}

.icon {
    margin: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: var(--color-fuente);
}





/* ----------------------------------CONTACT--------------------------------- */

.banner-contact{
    height: 20vh;
    background-image: url(../assets/img/banner-998px.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.contact{
    display: grid;
    margin-bottom: 5rem;
    justify-content: center;
    grid-template-columns: 30% 60%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "contact__img contact__title"
    ;
}

.contact__img{
    grid-area: contact__img;
    margin-top: -3rem;
    display: flex;
    justify-content: center;
    
}

.contact__img img{
    width: 10rem;
}

.contact__title{
    grid-area: contact__title;
    justify-content: start;
    margin-top: 1rem;
}

.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__input-line{
    display:flex;
    justify-content: center;
    margin-top: 15px;
}

.contact__input{
    width: 90%;
    font-size:small ;
    padding: 10px;
}

.contact__input--textarea{
    width: 90%;
    height: 10rem;
    border: var(--black) solid 1px;
    font-size:small ;
    padding: 10px;
}

.boton-contenedor{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.boton__contacto1{
    width: 90%;
    height: 5rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    transition: 300ms ease;
}

.boton__contacto1:hover{
    color: var(--black);
    background-color: var(--white);
    border: var(--black) solid 1px;
}

@media screen and (min-width:576px){
    .contact__input{
        width: 70%;
    }

    .contact__input--textarea{
        width: 70%;
    }

    .boton__contacto1{
        width: 70%;
    }
}

@media screen and (min-width:768px){
    .banner-contact{
        height: 30vh;
    }

    .contact__img{
        margin-top: -5rem;
    }

    .contact__img img{
        width: 14rem;
    }

    .contact__title{
        margin-top: 2rem;
    }
}

@media screen and (min-width:992px){
    .banner-contact{
        height: 40vh;
    }

    .contact__input{
        width: 30rem;
    }

    .contact__input--textarea{
        width: 60rem;
    }

    .boton__contacto1{
        width: 60rem;
    }

    .contact{
        grid-template-columns: 20% 40%;
    }

    .container__name-email{
        display: flex;
        flex-direction: row;
        justify-content:center;

    }
}

@media screen and (min-width:1200px){
    .contact{
        grid-template-columns: 15% 40%;
    }
}

@media screen and (min-width:1400px){
    .contact{
        grid-template-columns: 10% 40%;
    }
}

.alert__sent-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 40vh;
    margin: 2rem;
}

.title__sent{
    font-size: xx-large;
    padding:2rem;
}

.p__sent{
    font-size:small;
    padding:2rem;
}

.contenedor-button-sent{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.button-sent{
    padding: var(--button-zise);
    color: var(--color-fuente);
    border: var(--color-fuente) solid 1px;
    text-decoration: none;
    transition: 700ms ease;
}

.button-sent:hover{
    color: var(--view-color);
    border: var(--view-color) solid 1px;
}


/*-------------------------------------------------FOOTER----------------------------------------------*/

.footer {
    height: 20vh;
    background-color: var(--black);
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15rem;
    grid-template-areas:
        "footer__text footer__up";
}

.footer__text {
    grid-area: footer__text;
    color: var(--white);
    margin: auto;
    text-align: left
}

.footer__text h3, .footer__text h2 {
    color: var(--white);
}

.footer__nav{
    display: none;
}

.footer__up {
    grid-area: footer__up;
    color: var(--white);
    font-size: 30px;
    margin: auto;

}

.footer__up a {
    color: var(--white);
    text-decoration: none;
}

.footer__up a:hover{
    color: var(--view-color);
}

@media screen and (min-width:992px){
    .footer{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 30%) 20% 20%;
        grid-template-rows: 15rem;
        grid-template-areas:
        "footer__text .  footer__nav-container footer__up";
    }

    .footer__nav-container{
        grid-area: footer__nav-container;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 15rem;
        grid-template-areas:
        "footer__nav1 footer__nav2";
    };
    }

    .footer__nav1{
        grid-area: footer__nav1;
    }
    
    .footer__nav2{
        grid-area: footer__nav2;
    }
    
    .footer__nav-container ul{
        list-style: none;
        text-decoration: none;
    }

    .footer__nav-container a{
        text-decoration: none;
        color: var(--white);
    }

    .footer__nav-container a:hover{
        color: var(--view-color);
    }
