
/*---------------------------------------INDEX------------------------------------------

*1. -- Root --
*2. -- Reset --
*3. -- Button Dark Theme --
*4. -- Animations and Transitions --
*5. -- Background --
*6. -- Button View --
*7. -- Special h2, h3 and Span title --
*8. -- Button Contact --
*9. -- Header --
*10. -- Profile --
*11. -- Jobs --
*12. -- Jobs 2 and Studies 1 -- (they share similar characteristics) --
*13. -- Studies --
*14. -- Studies 1 -- (here are other features not shared with jobs 2) --
*15. -- Proyects -- 
*16. -- Proyects 3 --
*17. -- Blog --
*18. -- Blog 1 --
*19. -- Social Media --
*20. -- Contact --
*21. -- Footer --
*/

/*-------------------*1. -- Root -- -----------------*/

:root {
    --white: #FFFFFF;
    --black: #000000;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --button-color: linear-gradient(125.2deg, #8B8AF3 -19.58%, #4643EE 104.45%);
    --button-zise:10px 55px;
    --view-color: gray;
    --font-title: 700;
    --hover-view: #6A52F8;
    --subtitle: #292929;
    --date: #848484;
    --blog-line-color: rgba(219, 219, 219, 1);
    --blog-text-color: rgba(85, 84, 84, 1);
    --font-color: #ffffff;
    --bg-color: #1b1d23;
}

/*-------------------*2. -- Reset -- -----------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow: none;
}

body {
    font-size: 1.6rem;
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
    background-color:var(--bg-color);
    color:var(--font-color) 
}

h1, h2 {
    font-weight: var(--font-title);
    color:var(--font-color) 
}

h3{
    font-weight: var(--font-title);
    color:var(--font-color) 
}

main{
    width: 100%;
    height: 100%;
    display: grid;
    
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem, 1080px)));
}
/*-------------*3. -- Button Dark Theme -- --------------*/

[theme="light"]{
    --bg-color: #fff;
    --font-color: #000;
}

[theme="dark"]{
    --bg-color: #1b1d23;
    --font-color: #fff;
}

#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--font-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:var(--bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--font-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--font-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    border: var(--black) solid 1px;
}

.slider.round:before {
    border-radius: 50%;
    
}

/*---------------*4. -- Animations and Transitions -- -----------------*/

@media screen and (min-width:992px){
    .button-contact:hover {
        color: var(--hover-view);
        border: var(--hover-view) solid 1px;
        background: var(--bg-color);
    }

    .button-view:hover {
        color: var(--hover-view);
    }

    .job img:hover{
        transform: scale(1.05);
    }

    .studies img:hover{
        transform: scale(1.05);
    }

    .icon{
        width: 40px;
        height: 40px;
        transition-property: outline-offset, outline-color, backgroud-color;
        transition-duration: .25s;
    }
    
    .icon:hover i {
        animation: shake .25s;
    }
    
    @keyframes shake {
        10% {
            transform: rotate(15deg);
        }
        20% {
            transform: rotate(-15deg);
        }
        30% {
            transform: rotate(15deg);
        }
        40% {
            transform: rotate(-15deg);
        }
    }

/*-------------------*5. -- Background -- -----------------------*/

    .background-all{
        background-image: url(../assets/img/bg1.png);
        background-repeat:repeat;
        background-size: contain;
        min-height: 500px;
    }
}

/*-----------------*6. -- Button View -- ----------------------*/
.container-view{
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.button-view {
    text-decoration: none;
    color: var(--view-color);
    transition: 300ms ease;
    font-weight: 700;
}
/*-----------------*7. -- Special h2, h3 and Span title -- ----------------*/
.span-title, .h2-subtitle{
    font-weight: 400;
    color: --subtitle;
    font-size: medium;
}

.span-title{
    font-weight: 400;
    color: --subtitle;
    font-size: x-large;
}

@media screen and (min-width:1200px){
    .span-title{
        font-size: 50px;
    }
}

.h3-date{
    color: var(--date);
    font-size:medium;
}
/*-----------------*8. -- Button Contact -- ------------------*/
.container-button-contact{
    display: flex;
    justify-content: center;
    margin: 55px;
}

.button-contact {
    background: var(--button-color);
    padding: var(--button-zise);
    color: var(--white);
    border: var(--hover-view) solid 1px;
    text-decoration: none;
    transition: 700ms ease;
}

@media screen and (min-width:992px){
    .button-contact{
        width: 400px;
        height: 50px;
        text-align: center;
        padding: 12px;
        font-size: 20px;
    }
}

/* -------------------*9. -- Header -- ----------------------*/ 

header{
    background-color: var(--black);
    height: 44px;
}

.container{
    width: 95%;
    overflow: hidden;
}

.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(100%);
    padding: 10px 5px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer:scale(0);
}

.nav__hamburguer, 
.nav__close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
}

.nav__hamburguer{
    transform: var(--state-hamburguer);
}

.nav__close{
    transform: var(--state-close);
}

.nav__icon{
    transition: transform 300ms ease-in-out;
    width: 25px;
}

.nav__icon:hover {
    transform: rotate(45deg);
}

.bi-x-lg{
    color: var(--white);
}

.nav__links{
    background-color: var(--black);
    position: absolute;
    top: 0;
    bottom: 480px;
    left: auto;
    right: 0;
    display: grid;
    align-content: end;
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    transform: var(--state-menu);
}

.nav__item{
    list-style: none;
}

.nav__link{
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
}

.bi-arrow-left{
    color: var(--white);
    font-size: x-large;
    align-items: center;
}

.container-button-contact__nav{
    display: flex;
    justify-content: center;
}

.button-contact__nav{
    padding: var(--button-zise);
    color: var(--white);
    border: var(--white) solid 1px;
    text-decoration: none;
    transition: 700ms ease;
}

.button-contact__nav:hover{
    color: var(--view-color);
    border: var(--view-color) solid 1px;
}

input.src{
    padding: 5px 5px 5px 30px;
    width: 186px;
    outline: none;
    font-size: 13px;
    border-radius: 15px;
    border: 1px solid var(--black);
    background: #FFFFFF url(../assets/img/search.svg) 
    no-repeat 3px center ;
    transition: 500ms ease;
}

.search-hig992px{
    display: none;
}

.button-contact__nav992px{
    display: none;
}

@media screen and (min-width:576px){
    .nav__links{
        bottom: 500px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
}

@media screen and (min-width:992px){
    header{
        height: 10rem;
        background-color: rgb(255, 255, 255);
        justify-content: start;
        display: flex;
        flex-direction: row;
    }

    .container{
        width: 75%;
    }

    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
        display: flex;
        flex-direction: row;
        justify-content:start;
        margin-left: 2rem;
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .nav__links{
        padding: 0;
        background-color: unset;
        position: unset;
        grid-auto-flow: column;
        align-items: center;
        transform: unset;
        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link{
        color: var(--black);
    }

    .button-contact__nav{
        color: var(--white);
        background: var(--button-color);
        border: var(--hover-view)solid 1px;
    }

    .button-contact__nav:hover{
        border: var(--hover-view)solid 1px;
        color: var(--hover-view);
        background: var(--white);
    }

    .bi-arrow-left{
        display: none;
    }

    .search-min992px{
        display: none;
    }

    .search-hig992px{
        display: block;
    }

    .button-contact__nav-min992px{
        display: none;
    }
    
    .button-contact__nav992px{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }


}

@media screen and (min-width:1200px){
    .nav{
        margin-left: 5rem;
    }

    .nav__link{
        margin: 1.5rem;
    }

    .button-contact__nav992px{
        margin-right: 5rem;
    }
}

/* --------------------*10. -- Profile -- -------------------- */

.banner {
    height: 20vh;
    background-image: url(../assets/img/banner-998px.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.profile {
    display: grid;
    place-items: center;
    margin-top: -8rem;
}

.profile__title{
    text-align: center;
}

.profile__title h1{
    font-size: 3rem;
}

.p-profile{
    font-size: small;
    margin-bottom: 10px;
}

.profile p {
    text-align: center;
    margin-top: 3px;
}

.profile p i {
    color: #9888F8;
    padding: 2.5px;
}

.profile__description{
    padding: 12px;
}

@media screen and (min-width: 576px) {
    .banner {
        height: 25vh;
    }

    .profile__description{
        padding: 1.5rem;
    }
}

@media screen and (min-width: 768px){
    .banner {
        height: 30vh;
    }

    .profile__description{
        padding: 4rem;
    }
}

@media screen and (min-width:992px){
    .banner{
        display: none;
    }
    .profile{
        margin: 20rem;
        display: grid;
        justify-content: center;
        place-items:start;
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(2,13rem);
        grid-template-areas: 
        "profile__title profile__img"
        "profile__description profile__img";
    }

    .profile p {
        text-align: start;
    }

    .profile__title{
        text-align: start;
        grid-area: profile__title;
        margin-top: 4rem;
        margin-left: 20px;
    }

    .profile__title h1{
        font-size: 3rem;
        margin-bottom: 5px;
    }

    .profile__description{
        grid-area: profile__description;
        padding: 0px;
        margin-right: 80px;
        margin-left: 20px;
    }

    .profile__img{
        grid-area: profile__img;
        width: 250px;
        
    }

    .button-contact-profile{
        display: none;
    }
}

@media screen and (min-width:1200px){
    .profile__img{
        width: 240px;
    }

    .profile__title h1, .profile__title h3{
        text-align: left;
        margin-left: 50px;
    }

    .profile__description{
        padding: 0px;
    }

    .profile p {
        margin-left: 50px;
    }

    .profile{
        justify-content: center;
        grid-template-columns: 40% 30%;
    }
}

/* -------------------*11. -- Jobs -- ---------------- */

.job {
    padding: 2rem;
    place-items: center;
    margin-top: 50px;
    font-size: small;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8rem repeat(3, 15rem);
    grid-template-areas:
    "job-title"
    "job__item--1"
    "job__item--2"
    "job__item--3";
}

.job__title {
    grid-area: job-title;
}

.job__item--1 {
    grid-area: job__item--1;
    display:inline-flex;
}

.job__item--2 {
    grid-area: job__item--2;
    display:inline-flex;
}

.job__item--3 {
    grid-area: job__item--3;
    display:inline-flex;
}

.job__item--4 {
    display: none;
}

.job p{
    font-size: small;
}

.job img{
    transition: 300ms ease;
    margin-right: 5px;
}

@media screen and (min-width: 576px){
    .job__content--1, .job__content--2, .job__content--3, .job__content--4{
        padding: 1.5rem;
    }
}

@media screen and (min-width: 992px){
    .job{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,40%);
        grid-template-rows: 8rem repeat(2,15rem);
        grid-template-areas: 
        "job-title job-title"
        "job__item--1 job__item--2"
        "job__item--3 job__item--4";
    }

    .job-title{
        grid-area: job-title;
    }   
    .job__item--1{
        grid-area: job__item--1;
    }
    .job__item--2{
        grid-area: job__item--2;
    }
    .job__item--3{
        grid-area: job__item--3;
    }
    .job__item--4{
        grid-area: job__item--4;
        display:inline-flex;
    }
}

@media screen and (min-width: 1200px){
    .job{
        grid-template-columns: repeat(2,30%);
    }
}

/* ----------------*12. -- Jobs 2 and Studies 1 -- ---------------------- */

.banner-jobs2 {
    background-image: url(../assets/img/banner-jobs2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}

.profile-jobs2_hig768px_, .profile-studies1_hig768px_{
    display: none;
}

.profile-jobs2_min768px_,  .profile-studies1_min768px_{
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
    "profile-jobs2__img profile-jobs2__title"
    "profile-jobs2__description profile-jobs2__description";
}

.profile-jobs2__img,  .profile-studies1__img{
    grid-area: profile-jobs2__img;
    margin-top: -3rem;
    display: flex;
    justify-content: center;
}

.profile-jobs2__title, .profile-studies1__title{
    grid-area: profile-jobs2__title;
    justify-content: start;
    margin-top: 3px;
}

.profile-jobs2__title h1, .profile-studies1__title h1{
    font-size: x-large;
    margin-bottom: 5px;
}

.profile-jobs2__description,  .profile-studies1__description{
    grid-area: profile-jobs2__description;
    margin: 30px auto;
    max-width: 90%;
    font-size: small;
}

.tecnologies-jobs2{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
}

.icons-jobs2 img{
    margin: 2rem;
}

.icons-jobs2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.proyects-jobs2,  .proyects-studies1{
    margin-top: 4rem;
    place-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8rem repeat(2, 18rem);
    grid-template-areas:
        "proyects__title"
        "proyects__item-1"
        "proyects__item-2";
}

.proyects-jobs2__title,  .proyects-studies1__title{
    grid-area: proyects__title;
}

.proyects-jobs2__item-1,  .proyects-studies1__item-1{
    grid-area: proyects__item-1;
}

.proyects-jobs2__item-2 {
    grid-area: proyects__item-2;
}


@media screen and (min-width:576px) {
    .banner-jobs2 {
        height: 25vh;
    }

    .profile-jobs2_min768px_,  .profile-studies1_min768px_{
        grid-template-columns: 30% 60%;
    }

    .profile-jobs2__img img,  .profile-studies1__img img{
        width: 200px;
    }

    .profile-jobs2__img,  .profile-studies1__img {
        margin-top: -5rem;
    }

    .profile-jobs2__description,  .profile-studies1__description{
        padding: 2rem;
        font-size: medium;
    }
}

@media screen and (min-width:768px){
    .banner-jobs2{
        height: 30vh;
    }

    .profile-jobs2_min768px_, .profile-studies1_min768px_{
        display: none;
    }

    .profile-jobs2_hig768px_, .profile-studies1_hig768px_{
        display: grid;
        justify-content: start;
        grid-template-columns: 30% 60%;
        grid-template-rows: 70% 60%;
        grid-template-areas: 
        "profile-jobs2__img profile-jobs2__description "
        ". profile-jobs2__description";
    }

    .profile-jobs2__img,  .profile-studies1__img{
        grid-area: profile-jobs2__img;
        margin-top: -5rem;
        display: flex;
        justify-content: end;
    }

    .profile-jobs2__img img,  .profile-studies1__img img{
        width: 200px;
    }
    
    .profile-jobs2__description,  .profile-studies1__description{
        grid-area: profile-jobs2__description;
        margin-top: 1rem;
        text-align: start;
        padding: 0;
    }

    .profile-jobs2__description h1,  .profile-studies1__description h1{
        font-size: xx-large;
    }

    .profile-jobs2__description p,  .profile-studies1__description p{
        margin-top: 2rem;
    }
}

@media screen and (min-width:992px){
    .banner-jobs2{
        height: 40vh;
    }

    .profile-jobs2_hig768px_, .profile-studies1_hig768px_{
        grid-template-columns: 25% 60%;
    }



    .profile-jobs2__img img,  .profile-studies1__img img{
        width: 240px;
    }

    .profile-jobs2__description p,  .profile-studies1__description p{
        font-size: 17px;
    }

    

    .proyects-jobs2,  .proyects-studies1{
        justify-content: center;
        grid-template-columns: repeat(2,300px);
        grid-template-rows: 8rem 20rem;
        grid-template-areas:
            "proyects__title proyects__title"
            "proyects__item-1 proyects__item-2"
            ;
    }
}

@media screen and (min-width: 1200px){
    .banner-jobs2{
        height: 50vh;
    }

    .profile-jobs2__description h1,  .profile-studies1__description h1{
        font-size: 50px;
    }

    .profile-jobs2_hig768px_, .profile-studies1_hig768px_{
        grid-template-columns: 300px 940px;
    }
}

/* -----------------------*13. -- Studies -- -------------------- */

.studies {
    font-size: small;
    place-items: center;
    gap: 2px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: 8rem 18rem;
    grid-template-areas:
        "studies__title studies__title studies__title"
        "studies-1 studies-2 studies-3";
}

.studies__title {
    grid-area: studies__title;
    text-align: center;
}

.studies__1 {
    grid-area: studies-1;
    text-align: center;
}

.studies__1 p{
    font-size: small;
}

.studies__2 {
    grid-area: studies-2;
    text-align: center;
}

.studies__2 p{
    font-size: small;
}

.studies__3 {
    grid-area: studies-3;
    text-align: center;
}

.studies__3 p{
    font-size: small;
}

.studies__4{
    display: none;
}

.studies img{
    transition: 300ms ease;
    margin-right: 5px;
    max-width: 80px;
    margin-bottom: 5px;
}


@media screen and (min-width:992px){
    .studies {
        place-items: center;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4,100px);
        grid-template-rows: 10rem 22rem;
        grid-template-areas:
            "studies__title studies__title studies__title studies__title"
            "studies-1 studies-2 studies-3 studies-4";
    }

    .studies__title {
        grid-area: studies__title;
        text-align: center;
    }
    
    .studies__1 {
        grid-area: studies-1;
        text-align: center;
    }
    
    .studies__2 {
        grid-area: studies-2;
        text-align: center;
    }
    
    .studies__3 {
        grid-area: studies-3;
        text-align: center;
    }
    
    .studies__4{
        display: block;
        grid-area: studies-4;
        text-align: center;
    }
}

/* ----------------------*14. -- Studies 1 -- ----------------------- */

.banner-studies1{
    background-image: url(../assets/img/banner-studies1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 20vh;
}

.tecnologies{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    row-gap: 3rem;
}

.tecnologies__icons-studies1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.tecnologies__icons1{
    display: flex;
    flex-direction: row;
}

.tecnologies__icons2{
    display: flex;
    flex-direction: row;
}

.tecnologies__icon img{
    margin: 3rem;
}

.tecnologies__icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proyects-studies1{
    margin-top: 4rem;
    place-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8rem 18rem;
    grid-template-areas:
        "proyects__title"
        "proyects__item-1";
}

.proyects-studies1__title{
    grid-area: proyects__title;
}

.proyects-studies1__item-1{
    grid-area: proyects__item-1;
}


@media screen and (min-width:576px){
    .banner-studies1{
        height: 25vh;
    }
}

@media screen and (min-width:768px){
    .banner-studies1{
        height: 30vh;
    }

    .profile-studies1__img img{
        width: 200px;
    }
}

@media screen and (min-width:992px){
    .banner-studies1{
        height: 40vh;
        background-image: url(../assets/img/banner-studies998px.png);
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width: 1200px){
    .banner-studies1{
        height: 50vh;
    }
}

/* -------------------*15. -- Proyects --  -------------------- */

.proyects {
    place-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8rem repeat(3,15rem);
    gap: 15px;
    grid-template-areas:
        "proyects__title"
        "proyects__item-1"
        "proyects__item-2"
        "proyects__item-3";
}

.proyects img{
    width: 100%;
}

.proyects__title {
    grid-area: proyects__title;
}

.proyects__item-1 {
    grid-area: proyects__item-1;
}

.proyects__item-2 {
    grid-area: proyects__item-2;
}

.proyects__item-3 {
    grid-area: proyects__item-3;
}

.proyects__item-4{
    display: none;
}
.proyects__item-5{
    display: none;
}
.proyects__item-6{
    display: none;
}

.figure::after{
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:97.5%;
    display:inline-block;
    background: -moz-linear-gradient(to top, rgba(20, 20, 20, 0.692) 0%, rgba(10, 10, 10, 0) 100%);
}

.figure-caption, .figure-caption-blog, .figure-caption-blog-small{
    z-index: 2;
}

.figure-container {
    position: relative;
}

.figure-container .figure-caption {
    position: absolute;
    top: 70%;
    left: 5%;
    color: var(--white);
    font-size: small;
}

.figure-container .rounded{
    border-radius: 0px !important;
}

.figure-caption h3{
    color: var(--white);
}

.figure-caption p{
    font-weight: 400;
}

@media screen and (min-width:992px){
    .proyects {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3,280px);
        grid-template-rows: 6rem repeat(2,15rem);
        grid-template-areas:
        "proyects__title proyects__title proyects__title"
        "proyects__item-1 proyects__item-2 proyects__item-3"
        "proyects__item-4 proyects__item-5 proyects__item-6";
    }
    
    .proyects__title {
        grid-area: proyects__title;
    }
    
    .proyects__item-1 {
        grid-area: proyects__item-1;
    }
    
    .proyects__item-2 {
        grid-area: proyects__item-2;
    }
    
    .proyects__item-3 {
        grid-area: proyects__item-3;
    }
    
    .proyects__item-4{
        grid-area: proyects__item-4;
        display: inline;
    }
    .proyects__item-5{
        grid-area: proyects__item-5;
        display: inline;
    }
    .proyects__item-6{
        grid-area: proyects__item-6;
        display: inline;
    }
}



/* -----------------------*16. -- Proyects 3 -- -------------------- */

.banner-proyect3{
    background-image: url(../assets/img/banner-proyect3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 20vh;
}

.inicio-proyect3{
    padding: 3rem;
}

.inicio-proyect3__description{
    margin-top: 2rem;
}

.inicio-proyect3__description p{
    margin-bottom: 10px;
}

.galery-proyect3{
    padding: 0px 20px;
}

.galery-proyect3 img{
    width: 100%;
    margin: -2px;
}

.tecnologies__icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and (min-width:576px){
    .banner-proyect3{
        height: 25vh;
    }

    .galery-proyect3{
        padding: 0px 30px;
    }
}

@media screen and (min-width:768px){
    .banner-proyect3{
        height: 30vh;
    }

    .inicio-proyect3{
        padding: 20px 50px;
    }

    .galery-proyect3 img{
        padding: 0px 60px;
    }
}

@media screen and (min-width:992px){
    .banner-proyect3{
        height: 40vh;
    }

    .inicio-proyect3{
        display: grid;
        grid-auto-columns: 720px;
        justify-content: center;
        
    }

    .galery-proyect3{
        display: grid;
        grid-auto-columns: 820px;
        justify-content: center;
    }
}
/* ---------------------*17. -- Blog -- ---------------------- */

.blog {
    place-items: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: 8rem 30rem 15rem 15rem;
    grid-template-areas:
        "blog__title"
        "blog__item-1"
        "blog__item-2"
        "blog__item-3";
}

.blog__title {
    grid-area: blog__title;
}

.blog__item-1 {
    grid-area: blog__item-1;
}

.blog__item-1 p{
    font-size: small;
    text-align: start;
}

.blog__item-1 img{
    width: 100%;
    max-width: 500px;
}

.blog__item-2 {
    display: flex;
    flex-direction: row;
    grid-area: blog__item-2;
    text-align: start;
    padding: 10px;
    border-top: var(--blog-line-color) solid 1px;
}

.blog__item-3 {
    display: flex;
    flex-direction: row;
    grid-area: blog__item-3;
    padding: 10px;
    border-top: var(--blog-line-color) solid 1px;
}

.blog_992px_{
    display: none;
}

.blog__item-2 h3, .blog__item-3 h3{
    margin-left: 10px;
}

.figure-container-blog{
    position: relative;
}

.figure-container-blog .figure-caption-blog {
    position: absolute;
    top: 80%;
    left: 68%;
    color: var(--white);
    font-size:x-small;
}

.figure-container-blog-small {
    position: relative;
}

.figure-container-blog-small .figure-caption-blog-small {
    position: absolute;
    top: 80%;
    left: 68%;
    color: var(--white);
    font-size:x-small;
}

@media screen and (min-width:992px){
    .blog{
        display: none;
    }

    .blog_992px_{
        display: grid;
        place-items: center;
        justify-content: center;
        grid-template-columns: 610px 300px;
        grid-template-rows: 10rem repeat(3,220px);
        grid-template-areas:
        "blog__title blog__title"
        "blog__item-1 blog__item-2"
        "blog__item-1 blog__item-3"
        "blog__item-1 blog__item-4";
    }

    .blog__title_992px_ {
        grid-area: blog__title;
        text-align: center;
    }
    
    .blog__item-1_992px_ {
        grid-area: blog__item-1;
    }

    .blog__item-1_992px_ img {
        width: 610px;
        height: 540px;
        box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
    }
    
    .blog__item-2_992px_ {
        grid-area: blog__item-2;
        margin-left: 15px;
        
        padding: 5px;
    }

    .blog__item-2_992px_ img {
        width:170px;
        border-radius: 4px;
    }
    
    .blog__item-3_992px_ {
        grid-area: blog__item-3;
        border-top: 2px solid #DBDBDB;
        margin-left: 15px;
        padding: 5px;
    }

    .blog__item-3_992px_ img {
        width:170px;
        border-radius: 4px;
    }

    .blog__item-4_992px_ {
        grid-area: blog__item-4;
        border-top: 2px solid #DBDBDB;
        margin-left: 15px;
        padding: 5px;
    }

    .blog__item-4_992px_ img{
        width:170px;
        border-radius: 4px;
    }
}

@media screen and (min-width:1400px){

    .blog_992px_{
        grid-template-columns: 610px 570px;
        grid-template-rows: 10rem repeat(3,200px);
    }

    .blog__item-1_992px_ img {
        width: 610px;
        height: 480px;
    }

    .blog__item-2_992px_ {
        display: flex;
        flex-direction: row;
        
    }

    .blog__item-2_992px_ img {
        width: 280px;
        border-radius: 4px;
    }

    .blog__item-2_992px_ h3{
        margin-left: 20px;
        margin-top: 5px;
    }

    .blog__item-3_992px_ {
        display: flex;
        flex-direction: row;
    }

    .blog__item-3_992px_ img {
        width: 280px;
        border-radius: 4px;
    }

    .blog__item-3_992px_ h3{
        margin-left: 20px;
        margin-top: 5px;
    }

    .blog__item-4_992px_ {
        display: flex;
        flex-direction: row;
    }

    .blog__item-4_992px_ img {
        width: 280px;
        border-radius: 4px;
    }

    .blog__item-4_992px_ h3{
        margin-left: 20px;
        margin-top: 5px;
    }

}

/* -----------------*18. -- Blog 1 -- --------------------- */

.banner-blog1{
    height: 20vh;
    background-image: url(../assets/img/banner-blog.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blog1-titles_min992px_{
    padding: 1.2rem;
}

.blog1-titles_hig992px_{
    display: none;
}

.blog1-section1{
    padding: 2rem;
}

.blog1-section1 h3{
    margin-bottom: 2rem;
}

.blog1-section1 img{
    width: 100%;
    margin: 2rem 0rem;
}

blockquote{
    text-align: start;
    margin-left: 40px;
    border-left: var(--font-color) solid 2px;
    padding: 10px;
}

.keep-reading_min768px_{
    margin-top: 5rem;
}

.keep-reading_min768px_ img{
    width: 100%;
}

.container-keep-reading{
    display: flex;
    flex-direction: row;
    border-top: var(--view-color) solid 1px;
    justify-content: center;
}

.container-blog1-small{
    margin: 5px;
}

.keep-reading_hig768px_{
    display: none;
}

.figure-container-blog1-small {
    position: relative;
}

.figure-container-blog1-small .figure-caption-blog1-small {
    position: absolute;
    top: 70%;
    left: 70%;
    color: var(--white);
    font-size:x-small;
}


@media screen and (min-width:576px){
    .banner-blog1{
        height: 25vh;
    }

    .blog1-titles_min992px_{
        padding: 2rem 5rem;
    }

    .blog1-section1{
        padding: 5rem;
    }

    blockquote{
        margin: 40px 50px;
    }
}

@media screen and (min-width:768px){
    .banner-blog1{
        height: 30vh;
    }

    .blog1-section1{
        padding: 10rem;
    }

    blockquote{
        margin: 40px 80px;
    }

    .keep-reading_min768px_{
        display: none;
    }

    .keep-reading_hig768px_{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
    }

    .keep-reading_hig768px_ figure{
        margin: 2rem;
    }
    
    .figure-container-blog1-high {
        position: relative;
    }
    
    .figure-container-blog1-high .figure-caption-blog1-high {
        position: absolute;
        top: 70%;
        left: 70%;
        color: var(--white);
        font-size:x-small;
    }

}

@media screen and (min-width:992px){
    .banner-blog1{
        height: 40vh;
    }

    .blog1-titles_min992px_{
        display: none;
    }

    .blog1-titles_hig992px_{
        display: grid;
        grid-auto-columns: 820px;
        justify-content: center;
        margin-top: 67px;
    }

    .blog1-section1{
        display: grid;
        grid-auto-columns: 820px;
        justify-content: center;
    }

    .figure-container-blog1-high .figure-caption-blog1-high {
        position: absolute;
        top: 80%;
        left: 80%;
        color: var(--white);
        font-size:small;
    }

}

@media screen and (min-width:1200px){
    .blog1-titles_hig992px_{
        display: grid;
        grid-auto-columns: 1080px;
        justify-content: center;
        margin-top: 67px;
        font-size: 30px;
    }

    .blog1-section1{
        display: grid;
        grid-auto-columns: 1080px;
        justify-content: center;
    }
}



/* ----------------*19. -- Social Media -- ----------------- */

.social {
    text-align: center;
    margin-top: 8rem;
}

.social__icons {
    display: flex;
    padding: 15px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.social__icons a:hover {
    text-decoration: none;
    color: var(--font-color);
}

.icon {
    margin: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    color: var(--font-color);
}

/* ------------------------*20. -- Contact -- ----------------------- */

.banner-contact{
    height: 20vh;
    background-image: url(../assets/img/banner-998px.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.contact{
    display: grid;
    margin-bottom: 5rem;
    
    justify-content: center;
    grid-template-columns: 130px 200px;
    grid-template-rows: 100%;
    grid-template-areas: 
    "contact__img contact__title"
    ;
}

.contact__img{
    grid-area: contact__img;
    margin-top: -3rem;
    display: flex;
    justify-content: center;
    
}

.contact__img img{
    width: 130px;
}

.contact__title{
    grid-area: contact__title;
    justify-content: start;
    margin-top: 1rem;
}

.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__input-line{
    display:flex;
    justify-content: center;
    margin-top: 15px;
}

.contact__input1{
    width: 90%;
    font-size:small ;
    padding: 10px;
    border-color: inherit;
    box-shadow: none;
    border: var(--black) solid 1px;
    outline: 0;
}

.contact__input2{
    width: 90%;
    font-size:small ;
    padding: 10px;
    border-color: inherit;
    box-shadow: none;
    border: var(--black) solid 1px;
    outline: 0;
}

.contact__input--textarea{
    width: 90%;
    height: 10rem;
    border: var(--black) solid 1px;
    font-size:small ;
    padding: 10px;
    border-color: inherit;
    box-shadow: none;
    outline: 0;
}

.container__button{
    display: flex;
    justify-content: center;
    margin: 104px auto;
}

.button__contact1{
    width: 90%;
    height: 5rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    transition: 300ms ease;
    margin: auto;
    
}

.button__contact1:hover{
    color: var(--black);
    background-color: var(--white);
    border: var(--black) solid 1px;
}


@media screen and (min-width:576px){

    .contact{
        grid-template-columns:150px 200px;
        margin: auto;
    }
    .contact__input1{
        width: 70%;
    }

    .contact__input2{
        width: 70%;
    }

    .contact__input--textarea{
        width: 70%;
    }


}

@media screen and (min-width:768px){
    .banner-contact{
        height: 30vh;
    }

    .contact__img{
        margin-top: -5rem;
    }

    .contact__img img{
        width: 14rem;
    }

    .contact__title{
        margin-top: 2rem;
    }

    .button__contact1{
        max-width: 610px;
    }
}

@media screen and (min-width:992px){
    .banner-contact{
        height: 40vh;
    }

    .contact__input1{
        width: 30rem;
        height: 50px;
        width: 295px;
    }

    .contact__input2{
        width: 30rem;
        margin-left: 20px;
        height: 50px;
        width: 295px;
    }

    .contact__input--textarea{
        height: 190px;
        width: 610px;
    }



    .contact{
        grid-template-columns: 200px 300px;
    }

    .container__name-email{
        display: flex;
        flex-direction: row;
        justify-content:center;
        margin: 20px;
    }
}



/*-----------------estilos SweetAlert--------------------*/

.h1__sweetAlert{
    color: #292929;
    font-size: 30px;
    line-height: 48.60px;
    font-weight: 600;
}

.p__sweetAlert{
    color: #292929;
    font-size: 13px;
    line-height: 20.66px;
    font-weight: 400;
}

.button-sweetAlert{
    color: var(--black);
    text-decoration: none;
    padding: 10px;
    
    border: 2px solid var(--black);
}

.arrow_sweet{
    color: var(--black);
    font-size: 10px;
    margin-right: 5px;
}

@media screen and (min-width:992px){
    .h1__sweetAlert{
        color: #292929;
        font-size: 40px;
        line-height: 48.60px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    
    .p__sweetAlert{
        color: #292929;
        font-size: 17px;
        line-height: 20.66px;
        font-weight: 400;
        padding-bottom: 20px;
    }
    
    .button-sweetAlert{
        color: var(--black);
        text-decoration: none;
        padding: 10px 150px;
        border: 2px solid var(--black);
    }

    .arrow_sweet{
        display: inline;
    }
}

/*----------------------*21. -- Footer -- --------------------------*/

.footer {
    height: 143px;
    background-color: var(--black);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 143px;
    grid-template-areas:
        "footer__text footer__up";
}

.footer__nav-container{
    display: none;
}

.footer__text {
    grid-area: footer__text;
    color: var(--white);
    margin: auto;
    text-align: left;
    font-size: x-small;
}

.footer__text h3, .footer__text h2 {
    color: var(--white);
}

.footer__text h3{
    margin-bottom: 10px;
}

.footer__nav{
    display: none;
}

.footer__up {
    grid-area: footer__up;
    color: var(--white);
    font-size: 30px;
    margin: auto;
}

.footer__up a {
    color: var(--white);
    text-decoration: none;
}

.footer__up a:hover{
    color: var(--view-color);
}

@media screen and (min-width:576px){
    .footer__text{
        font-size: small;
    }
}

@media screen and (min-width:992px){
    .footer{
        display: grid;
        text-align: start;
        justify-content:center;
        grid-template-columns: 60% 20% 20%;
        grid-template-rows: 143px;
        grid-template-areas:
        "footer__text footer__nav-container footer__up";
    }

    .footer__text {
        grid-area: footer__text;
        color: var(--white);
        margin: auto 150px;
        text-align: left;
        font-size: x-small;
    }

    .footer__up {
        grid-area: footer__up;
        color: var(--white);
        font-size: 30px;
        margin-right: auto;
        
    }

    .div__footer{
        display: flex;
        flex-direction: row;
        grid-area: footer__nav-container;
    }

    .footer__nav-container{
        display: grid;
        justify-content: center;
        font-size: 16px;
        align-items: center;
        margin-top: auto;
        margin-left: auto;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: 143px;
        grid-template-areas:
        "footer__nav1 footer__nav2";
    }
    
    .footer__nav1{
        grid-area: footer__nav1;
    }
    
    .footer__nav2{
        grid-area: footer__nav2;
        margin-bottom: 16px;
    }
    
    .footer__nav-container ul{
        list-style: none;
        text-decoration: none;
    }

    .footer__nav-container a{
        text-decoration: none;
        color: var(--white);
    }

    .footer__nav-container a:hover{
        color: var(--view-color);
    }
}
