:root {
    --white: #FFFFFF;
    --black: #000000;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --button-color: linear-gradient(125.2deg, #8B8AF3 -19.58%, #4643EE 104.45%);
    --button-zise:10px 55px;
    --view-color: gray;
    --font-titulos: 700;
    --hover-view: #6A52F8;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow: none;
}

body {
    font-size: 1.6rem;
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-weight: var(--font-titulos);
    font-size:x-large;
}

h2 {
    font-size:large;
}


.contenedor-button-contact{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.button-contact {
    background: var(--button-color);
    padding: var(--button-zise);
    color: var(--white);
    text-decoration: none;
    transition: 700ms ease;
}

.button-contact:hover {
    color: var(--hover-view);
    border: var(--hover-view) solid 1px;
    background: var(--white);
}

.contenedor-view{
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.button-view {
    text-decoration: none;
    color: var(--view-color);
    transition: 300ms ease;
}

.button-view:hover {
    color: var(--hover-view);
}

/* ----------------------------------HEADER--------------------------------- */

.bi-arrow-left{
    color: var(--white);
    font-size: x-large;
    align-items: center;
}

.bg-black{
    background-color: var(--black);
}

.cl-white{
    color: var(--white);
}

.cl-white:hover{
    color: var(--view-color);
}

.img-nav{
    transition: transform 300ms ease-in-out;
}
.img-nav:hover {
    transform: rotate(45deg);
}


/* ----------------------------------PORTADA--------------------------------- */

.banner {
    height: 20vh;
    background-image: url(../assets/img/banner-init.png);
    z-index: -1;
}

.profile {
    display: grid;
    place-items: center;
    margin-top: -8rem;
}

.profile p {
    padding: 2rem;
    text-align: center;
}

.profile p i {
    color: #9888F8;
}

/* ----------------------------------JOBS--------------------------------- */

.job {
    padding: 2rem;
    place-items: center;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 10rem repeat(3, 15rem);
    grid-template-areas:
        "job-title job-title"
        "job-img1 job-content1"
        "job-img2 job-content2"
        "job-img3 job-content3"
    ;
}

.job__title {
    grid-area: job-title;
}

.job__img--1 {
    grid-area: job-img1;
}

.job__content--1 {
    grid-area: job-content1;
}

.job__img--2 {
    grid-area: job-img2;
}

.job__content--2 {
    grid-area: job-content2;
}

.job__img--3 {
    grid-area: job-img3;
}

.job__content--3 {
    grid-area: job-content3;
}

.job p {
    font-size: small;
}

.job img{
    transition: 300ms ease;
    margin-right: 5px;
}

.job img:hover{
    transform: scale(1.05);
}


/* ----------------------------------JOB-2 Y STUDIES-1--------------------------------- */

.banner-jobs2 {
    background-image: url(../assets/img/portada-jobs2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 20vh;
}


.profile-jobs2,  .profile-studies1{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
    "profile-jobs2__img profile-jobs2__titulos"
    "profile-jobs2__description profile-jobs2__description";
    
}

.profile-jobs2__img,  .profile-studies1__img{
    grid-area: profile-jobs2__img;
    margin-top: -2rem;
    margin-left: 1.5rem;
}

.profile-jobs2__titulos,  .profile-studies1__titulos{
    grid-area: profile-jobs2__titulos;

}

.profile-jobs2__description,  .profile-studies1__description{
    grid-area: profile-jobs2__description;
    margin: 1.5rem;
}

.tecnologies-jobs2{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
}

.icons-jobs2 img{
    margin: 2rem;
}

.icons-jobs2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.proyects-jobs2,  .proyects-studies1{
    margin-top: 8rem;
    place-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem repeat(2, 20rem);
    grid-template-areas:
        "proyects__title"
        "proyects__item-1"
        "proyects__item-2"
    ;
}

.proyects-jobs2__title,  .proyects-studies1__title{
    grid-area: proyects__title;
}

.proyects-jobs2__item-1,  .proyects-studies1__item-1{
    grid-area: proyects__item-1;
}

.proyects-jobs2__item-2,  .proyects-studies1__item-2{
    grid-area: proyects__item-2;
}






/* ----------------------------------STUDIES--------------------------------- */


.studies {
    margin-top: 8rem;
    place-items: center;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 10rem 22rem;
    grid-template-areas:
        "studies__title studies__title studies__title"
        "studies-1 studies-2 studies-3"
    ;
}

.studies__title {
    grid-area: studies__title;
    text-align: center;
}

.studies__1 {
    grid-area: studies-1;
    text-align: center;
}

.studies__2 {
    grid-area: studies-2;
    text-align: center;
}

.studies__3 {
    grid-area: studies-3;
    text-align: center;
}

.studies img{
    transition: 300ms ease;
    margin-right: 5px;
}

.studies img:hover{
    transform: scale(1.05);
}


/* ----------------------------------STUDIES-1--------------------------------- */


.banner-studies1{
    background-image: url(../assets/img/banner-studies1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 20vh;
}

.tecnologies{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 3rem;
}

.tecnologies__icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tecnologies__icon img{
    margin: 3rem;
}

.tecnologies__icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* ----------------------------------PROYECTS--------------------------------- */

.proyects {
    margin-top: 8rem;
    place-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem repeat(3, 20rem);
    grid-template-areas:
        "proyects__title"
        "proyects__item-1"
        "proyects__item-2"
        "proyects__item-3"
    ;
}

.proyects__title {
    grid-area: proyects__title;
}

.proyects__item-1 {
    grid-area: proyects__item-1;
}

.proyects__item-2 {
    grid-area: proyects__item-2;
}

.proyects__item-3 {
    grid-area: proyects__item-3;
}

.figure-container {
    position: relative;
    
}

.figure-container .figure-caption {
    position: absolute;
    top: 60%;
    left: 5%;
    color: var(--white);
    
}

.figure-container .rounded{
    border-radius: 0px !important;
}
/* ----------------------------------PROYECTS-3--------------------------------- */


.inicio-proyecto3{
    padding: 3rem;
}

.inicio-proyecto3__description{
    margin-top: 2rem;
}

.banner-proyecto3{
    background-image: url(../assets/img/banner-proyect3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 20vh;
}

.galery-proyect3{
    margin: 2rem;
}

.galery-proyect3 img{
    width: 100%;
    margin-top: 0%;

}


/* ----------------------------------BLOG--------------------------------- */

.blog {
    margin-top: 8rem;
    place-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25rem 15rem 20rem 15rem;
    grid-template-areas:
        "blog__title"
        "blog__item-1"
        "blog__item-2"
        "blog__item-3"
    ;
}

.blog__title {
    grid-area: blog__title;
}

.blog__item-1 {
    padding: 2rem;
    grid-area: blog__item-1;
    margin-bottom: 15px;
    font-size: small;
}

.blog__item-2 {
    display: flex;
    flex-direction: row;
    grid-area: blog__item-2;
    text-align: start;
    border-top: 2px solid #DBDBDB;
    padding: 2rem;
    margin-bottom: -80px;
}

.blog__item-3 {
    display: flex;
    flex-direction: row;
    grid-area: blog__item-3;
    margin-top: 2rem;
    border-top: 2px solid #DBDBDB;
    padding: 2rem;
}

.blog__item-2 h3, .blog__item-3 h3{
    margin-left: 10px;
}

.figure-container-blog {
    position: relative;
    
}

.figure-container-blog .figure-caption-blog {
    position: absolute;
    top: 80%;
    left: 78%;
    color: var(--white);
    font-size: small;
}

.figure-container-blog-small {
    position: relative;
    
}

.figure-container-blog-small .figure-caption-blog-small {
    position: absolute;
    top: 80%;
    left: 68%;
    color: var(--white);
    font-size:x-small
}

/* ----------------------------------BLOG1--------------------------------- */


.banner-blog1{
    height: 20vh;
    background-image: url(../assets/img/banner-blog.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blog1-section1{
    padding: 15px;
}

.blog1-titles{
    padding: 5px;
}

.contenedor-keep-reading{
    display: flex;
    flex-direction: row;
    border-top: var(--view-color) solid 1px;
    justify-content: center;
}

.contenedor-keep-reading img{
    margin: 5px;
}









/* ----------------------------------SOCIAL--------------------------------- */

.social {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.social__icons {
    display: flex;
    padding: 15px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.social__icons a:hover {
    text-decoration: none;
    color: var(--black);
}

.icon {
    margin: 10px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: var(--black);
    border-radius: 50%;
    outline: 2px solid var(--black);
    transition-property: outline-offset, outline-color, backgroud-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}



/* ----------------------------------CONTACT--------------------------------- */

.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__input-line{
    display:flex;
    justify-content: center;
    margin-top: 15px;
}

.contact__input{
    width: 90%;
    border: var(--black) solid 1px;
    font-size:x-small ;
    padding: 10px;
}

.contact__input--textarea{
    width: 90%;
    height: 10rem;
    border: var(--black) solid 1px;
    font-size:x-small ;
    padding: 10px;
}

.boton-contenedor{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.boton__contacto1{
    width: 90%;
    height: 5rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    transition: 300ms ease;
}

.boton__contacto1:hover{
    color: var(--black);
    background-color: var(--white);
    border: var(--black) solid 1px;
}


































/*-------------------------------------------------FOOTER----------------------------------------------*/

.footer {
    height: 20vh;
    background-color: var(--black);
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15rem;
    grid-template-areas:
        "footer__text footer__up";
}

.footer__text {
    grid-area: footer__text;
    color: var(--white);
    margin: auto;
    text-align: left
}

.footer__up {
    grid-area: footer__up;
    color: var(--white);
    font-size: 30px;
    margin: auto;

}

.footer__up a {
    color: var(--white);
    text-decoration: none;
}